<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>

  <appSettings>
    <add key="UserName" value="jchan" />
    <add key="Password" value="justin19987" />
    <add key="Database" value="trafficsystem" />
    <add key="DatabaseIP" value="127.0.0.1" />
    <add key="DatabasePort" value="13001" />
  </appSettings>
</configuration>